<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Page Utilisateur</title>
</head>
<body>
    <h1>Bonjour <span th:text="${user.name}"></span></h1>
    <h2>Créer une commande</h2>
    <form action="/store/order/create" method="post">
        <label for="order-title">Titre de la commande:</label>
        <input type="text" id="order-title" name="title" required>
        <button type="submit">Créer une commande</button>
    </form>
    <h2>Liste des Commandes</h2>
    <ul>
        <li th:each="order : ${orders}">
            <a th:href="@{/store/order/{title}(title=${order.title})}" th:text="${order.title}"></a>
            <form action="/store/order/delete" method="post" style="display:inline;">
                <input type="hidden" name="orderId" th:value="${order.id}" />
                <button type="submit">Supprimer</button>
            </form>
        </li>
    </ul>
    <div th:if="${message}" class="alert alert-success">
        <p th:text="${message}"></p>
    </div>
    <form action="/store/user/logout" method="get">
        <button type="submit">Logout</button>
    </form>
</body>
</html>