<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Page Utilisateur</title>
</head>
<body>
    <h1>Bonjour <span th:text="${user.name}"></span></h1>
    <h2>Créer une commande</h2>
    <form action="/store/order/create" method="post">
        <label for="order-title">Titre de la commande:</label>
        <input type="text" id="order-title" name="title" required>
        <button type="submit">Créer une commande</button>
    </form>
    <h2>Liste des Commandes</h2>
    <ul>
        <li th:each="order : ${orders}">
            <span th:text="${order.title}"></span>
        </li>
    </ul>
    <form action="/store/user/logout" method="get">
        <button type="submit">Logout</button>
    </form>
</body>
</html>